/*@font-face {
    font-family: "SukhumvitSet";
    src: local('SukhumvitSet'), local('SukhumvitSet-Bold'), url("SukhumvitSet-Bold.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}*/

@font-face {
    font-family: 'Prompt-Black';
    src: url('Prompt-Black.ttf');
}
@font-face {
    font-family: 'Prompt-BlackItalic';
    src: url('Prompt-BlackItalic.ttf');
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url('Prompt-Bold.ttf');
}
@font-face {
    font-family: 'Prompt-BoldItalic';
    src: url('Prompt-BoldItalic.ttf');
}

@font-face {
    font-family: 'Prompt-ExtraBold';
    src: url('Prompt-ExtraBold.ttf');
}
@font-face {
    font-family: 'Prompt-ExtraBoldItalic';
    src: url('Prompt-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Prompt-ExtraLight';
    src: url('Prompt-ExtraLight.ttf');
}
@font-face {
    font-family: 'Prompt-ExtraLightItalic';
    src: url('Prompt-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Prompt-Italic';
    src: url('Prompt-Italic.ttf');
}

@font-face {
    font-family: 'Prompt-Light';
    src: url('Prompt-Light.ttf');
}
@font-face {
    font-family: 'Prompt-LightItalic';
    src: url('Prompt-LightItalic.ttf');
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url('Prompt-Medium.ttf');
}
@font-face {
    font-family: 'Prompt-MediumIttalic';
    src: url('Prompt-MediumIttalic.ttf');
}

@font-face {
    font-family: 'Prompt-Regular';
    src: url('Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt-SemiBold';
    src: url('Prompt-SemiBold.ttf');
}
@font-face {
    font-family: 'Prompt-SemiBoldItalic';
    src: url('Prompt-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Prompt-Thin';
    src: url('Prompt-Thin.ttf');
}
@font-face {
    font-family: 'Prompt-ThinItalic';
    src: url('Prompt-ThinItalic.ttf');
}