

	.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
		-webkit-appearance: none !important;
		margin: 0 !important;
	}

	.no-spin {
		-moz-appearance:textfield !important;
	}

	::selection { background-color: #E13300; color: white; }
	/*::-moz-selection { background-color: #E13300; color: white; }/

		/*body {background: linear-gradient(to bottom right, #ea6ca6, #49c6dac4,#10aec7c4);}*/
		body {background: linear-gradient(to bottom right, #f8f9fa, #afe1f7c4,#f8f9fa);}
		/*body {background-image: url("<?php echo base_url('/img/b2.jpg');?>"); background-repeat: no-repeat; background-size: cover;background-position: center;}*/

		.form{background-color: #fff; border-radius: 3px; border: 1px solid #fff;}
		.form-box {padding:20px;}

		.text-muted{color:#dc3545!important;margin-top: inherit;}
		.text-muted-y { color: #48b72f!important; margin-top: inherit; padding-left: 15px;}


		label {
			color: #212529;
			margin-bottom: 1rem;
		}
		.label-name {margin-bottom: 0rem;font-weight: 600;}
		.requird-icon{color: #dc3545!important;}

		.form-control {
			height: calc(1.5em + 0.45rem + 10px);
			padding: .575rem .75rem;
			color: #989797;
    		font-weight: 600;
			border: 1.2px solid #ced4da;
    		border-radius: 5px; 
			border-radius: 5px;
		}
		
		.form-require :focus {
			border-color: #f8cb95 !important;
			box-shadow: 0 0 0 0.2rem rgb(255 119 0 / 7%)!important;
		}
		.form-control:disabled, .form-control[readonly] {	background-color: #e9ecef00;}

		.form-group{margin-bottom: 1.5rem;font-family: KrungthaiFast,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;}
		.form-check{padding-left: inherit;margin: 0 0 10px 0;font-family: KrungthaiFast,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;}

		.shadow-sm {
			/*box-shadow: 0 .125rem .25rem rgba(0,0,0,1.075)!important;*/
			box-shadow: 0 .225rem .75rem #c7c5cb!important;
		}
		.modal{font-family: KrungthaiFast,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;}
		.modal-header {padding: 1rem 2rem;}
		.modal-body {	padding: 1rem !important;}
		
		
		.modal-footer {padding: .3rem 2rem;}

		.btn-techn {height: calc(1.5em + 0.45rem + 10px); color: #fff; background-color: #66c1c5; border-color: #66c1c5; width: 100%;  border-radius: 3px;font-size: 15px;}
		.btn-techn:hover {cursor:pointer;color: #fff; background-color: #549fa2; border-color: #549fa2;  }
		
		.btn-submit {float: right;  width: 100%; margin-top: 7px; border-radius: 3px;}
		/*.btn-primary:disabled {
			color: #ccc6c6;
			background-color: #acb6c1;
    		border-color: #acb6c1;
		}*/
		#btn-condition{padding-left:5px;}
		.btn-primary:hover {cursor:pointer;}
		a { color: #dc3545!important;}

		::placeholder { color: #616365 !important;}

		input[type=checkbox]{transform: scale(1.5);}

		.SaveModal .modal-body {font-size: 25px;color: #595959;text-align: center;}
		.SaveModal .modal-body button{width: 50%; margin-top: 28px;	}
		
		.cancelModal .modal-body {text-align: center;padding: 1rem 1rem;}
		.cancelModal .modal-body button{width: 100%; margin-top: 28px;	}
		.btn-cancel{background-color: #2d78be !important; }
		
		.btn-continue{background-color: #aaa !important;}
		.btn-fails{background-color: #2d78be !important;}

		.btn-cancel, .btn-continue, .btn-fails{font-size: 13px;color:white!important;padding: 13px 0!important;}

		.modal-footer {justify-content: center !important;}
		.modal-footer button{width: 40%; border-radius: 3px; background-color: #2d78be;}

		#collapseTechnid .card{
			border: inherit;  
			padding: 0px;
			color: #676767;
			font-weight: 600;
			font-size: 15px;
        }
        .form-check-label{padding-left: 5px !important;}

        /*****************Condition page*********************/
        
		#confirm-btn, #back-btn{ width: 100%; margin-top: 15px;margin-bottom: 15px;}
		#back-box :hover{box-shadow: 0 1rem 2rem rgba(0,0,0,.15)!important;}
	

	
		@media only screen and (min-width: 576px) {
			
			#headerCondition{font-size: 1rem !important;}
			
        }
        @media only screen and (min-width: 768px) {
			
			#headerCondition{font-size: 1.5rem!important;;}
			
        }
        
		@media only screen and (min-width: 992px) {
			#headerCondition{font-size: 2.5rem!important;}
		}

		@media only screen and (min-width: 1200px) {
			#headerCondition{font-size: 2.5rem!important;}
		}
		/*@media only screen and (min-width: 576px) {
			.form-control {    height: calc(1.5em + 0.45rem + 10px);}
			.form{padding-left: 1.3rem;padding-right: 1.3rem;}
			
		}
		@media only screen and (min-width: 768px) {
			.form-control {    height: calc(1.5em + 0.45rem + 10px);}
			.form{padding-left: 1.3rem;padding-right: 1.3rem;}
			
		}

		@media only screen and (min-width: 992px) {
			.form-control {    height: calc(1.5em + 0.45rem + 10px);}
			.form{padding-left: 1.3rem;padding-right: 1.3rem;}
			
		}

		@media only screen and (min-width: 1200px) {
			.form-control {    height: calc(1.5em + 0.45rem + 10px);}
			.form{padding-left: 1.3rem;padding-right: 1.3rem;}
			
		}*/

		
