@font-face {
    font-family: "SukhumvitSet";
    src: local('SukhumvitSet'), local('SukhumvitSet-Bold'), url("SukhumvitSet-Bold.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "KrungthaiFast";
    src: local('KrungthaiFast'), local('KrungthaiFast-Light'), url("KrungthaiFast-Light.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}


@font-face {
    font-family: "KrungthaiFast";
    src: local('KrungthaiFast'), local('KrungthaiFast-Regular'), url("KrungthaiFast-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "KrungthaiFast-Bold";
    src: local('KrungthaiFast'), local('KrungthaiFast-Bold'), url("KrungthaiFast-Bold.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "KrungthaiFast";
    src: local('KrungthaiFast'), local('KrungthaiFast-BoldItalic'), url("KrungthaiFast-BoldItalic.ttf");
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "KrungthaiFast";
    src: local('KrungthaiFast'), local('KrungthaiFast-Italic'), url("KrungthaiFast-Italic.ttf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}